@import 'https://fonts.googleapis.com/css?family="Montserrat';

body {
		
	font-family: "Monserrat" , sans-serif;
	
}

header {
	position: relative;
	padding-top: 84px;
	padding-bottom: 80px;
}


header nav {
	position: fixed;
	width: 100%;
	top:0px;
	left:0px;
	height: 70px;
	background-color: #fff;
}


header nav ul {
	line-height: 70px;
	text-align: right;
	padding-right: 80px;
}

header nav ul a {
	text-transform: uppercase;
	color:#000;
}

header nav h1 {
	margin:0;
	margin-left: 30px;
	line-height: 70px;
}


header .action img {
	width: 80px;
	margin:15px 0;
}

header .action h1 {
	font-size:2em;
	font-weight: bold;
	text-transform: uppercase;
}


.action .btn {
	margin-top: 15px;
	text-transform: uppercase;
}
